/*所有颜色取自各对应logo主题色或官网主题色*/
/*RPM*/
.redhat {
    border: #f20001 solid 2px;

    box-shadow: 0 0 10px #f20001;
}

.rdht {
    color: #f20001;
    text-decoration: none;
}

.redhat:hover {
    box-shadow: 0 0 20px #f20001;
    border: #dadada solid 2px;
}

.centos {
    border: #1d4184 solid 2px;

    box-shadow: 0 0 10px #1d4184;
}

.cent {
    color: #1d4184;
    text-decoration: none;
}

.centos:hover {
    box-shadow: 0 0 20px #1d4184;
    border: #dadada solid 2px;
}



.fedora {
    border: #305aa7 solid 2px;

    box-shadow: 0 0 10px #305aa7;
}

.fdrt {
    color: #305aa7;
    text-decoration: none;
}

.fedora:hover {
    box-shadow: 0 0 20px #305aa7;
    border: #dadada solid 2px;
}







/*Deb*/
.debian {
    border: #e52763 solid 2px;

    box-shadow: 0 0 10px #e52763;
}

.debt {
    color: #e52763;
    text-decoration: none;
}

.debian:hover {
    box-shadow: 0 0 20px #e52763;
    border: #dadada solid 2px;
}


.ubuntu {
    border: #e95420 solid 2px;

    box-shadow: 0 0 10px #e95420;
}

.ubtt {
    color: #e95420;
    text-decoration: none;
}

.ubuntu:hover {
    box-shadow: 0 0 20px #e95420;
    border: #dadada solid 2px;
}

.mint {
    border: #7cc726 solid 2px;

    box-shadow: 0 0 10px #7cc726;
}

.mintt {
    color: #7cc726;
    text-decoration: none;
}

.mint:hover {
    box-shadow: 0 0 20px #7cc726;
    border: #dadada solid 2px;
}

/*桌面环境*/
.gnome {
    border: #000 solid 2px;

    box-shadow: 0 0 10px #000;
}

.gnmt {
    color: #000;
    text-decoration: none;
}

.gnome:hover {
    box-shadow: 0 0 20px #000;
    border: #dadada solid 2px;
}

.unity {
    border: #27a500 solid 2px;

    box-shadow: 0 0 10px #27a500;
}

.untt {
    color: #27a500;
    text-decoration: none;
}

.unity:hover {
    box-shadow: 0 0 20px #27a500;
    border: #dadada solid 2px;
}

.mate {
    border: #6c7d37 solid 2px;

    box-shadow: 0 0 10px #6c7d37;
}

.mtet {
    color: #6c7d37;
    text-decoration: none;
}

.mate:hover {
    box-shadow: 0 0 20px #6c7d37;
    border: #dadada solid 2px;
}

.kubuntu {
    border: #1365b3 solid 2px;

    box-shadow: 0 0 10px #1365b3;
}

.kdet {
    color: #1365b3;
    text-decoration: none;
}

.kubuntu:hover {
    box-shadow: 0 0 20px #1365b3;
    border: #dadada solid 2px;
}

.xfce {
    border: #77ccd9 solid 2px;

    box-shadow: 0 0 10px #77ccd9;
}

.xfcet {
    color: #77ccd9;
    text-decoration: none;
}

.xfce:hover {
    box-shadow: 0 0 20px #77ccd9;
    border: #dadada solid 2px;
}



/*国产*/
.deepin {
    border: #124cb1 solid 2px;

    box-shadow: 0 0 10px #124cb1;
}

.dpnt {
    color: #124cb1;
    text-decoration: none;
}

.deepin:hover {
    box-shadow: 0 0 20px #124cb1;
}

.neokylin {
    border: #b80013 solid 2px;

    box-shadow: 0 0 10px #b80013;
}

.nklt {
    color: #b80013;
    text-decoration: none;
}

.neokylin:hover {
    box-shadow: 0 0 20px #b80013;
}

.new-start {
    border: #57b6c8 solid 2px;

    box-shadow: 0 0 10px #57b6c8;
}

.nstt {
    color: #57b6c8;
    text-decoration: none;
}

.new-start:hover {
    box-shadow: 0 0 20px #57b6c8;
}